#*Licensed to Jasig under one or more contributor license
agreements. See the NOTICE file distributed with this work
for additional information regarding copyright ownership.
Jasig licenses this file to you under the Apache License,
Version 2.0 (the "License"); you may not use this file
except in compliance with the License. You may obtain a
copy of the License at:

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on
an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
*#
	
#set ( $editorId = $mathTool.random(1,999999999) )
	
#set ( $renderRequest = $request.getAttribute("javax.portlet.request") )
#set ( $renderResponse = $request.getAttribute("javax.portlet.response") )

#set ( $portletConstructors = $renderRequest.getPortletMode().getClass().getConstructors() )
#set ( $returnMode = $portletConstructors.get(0).newInstance("view") )
#set ( $cancelUrl = $renderResponse.createRenderURL() )
$cancelUrl.setPortletMode($returnMode)

#set ( $searchUrl = $renderResponse.createRenderURL() )
$searchUrl.setParameter("action", "searchRepository")

<script type="text/javascript" src="$springMacroRequestContext.contextPath/javascript/ckeditor/ckeditor.js"></script>
<table cellpadding='0' cellspacing='0' width="100%">
	<tr>
		<td align='center'>	
			<form method='POST' action='$searchUrl'>
				<span class="uportal-label">#springMessage("label.caption.keyword"):</span>
				<input class="uportal-input-text" type='text' name="keyword" />
				<input class="uportal-button" type='submit' value='#springMessage("button.caption.search")' />
			</form>
			<br/>
			<form method='POST' action='$renderResponse.createActionURL()' enctype="multipart/form-data">
				#springBind( "post.content" )
				#set ( $content = $escapeTool.html(${status.value}) )
				<textarea id="fckEditorId$editorId" name="${status.expression}" isFckEditor="true">$!content</textarea>
		</td>
	</tr>
	
	#if ( $post.Attachments.size() > 0 )
		 
		<tr>
			<td><span class="uportal-channel-strong">#springMessage("label.caption.attachments"):</span> </td>
		</tr>  
	   	#foreach ($attachment in $post.Attachments)
			<tr>
				<td>
					<img align="middle" hspace="3" src='$springMacroRequestContext.contextPath/images/package.gif'>
					<a href='javascript:void(0);'>$attachment.Name</a>
				</td>
			</tr>
		#end
	#end
	
	#if ($status.getErrorCodes().size() > 0)
		<tr>
			<td>
				#foreach($error in $status.errorMessages) 
					<p class="uportal-channel-error">$error</p> 
				#end
			</td>
		</tr>
	#end
	
	<tr>
		<td width="100%" align="right">
			<input class="uportal-button" type="submit" value='#springMessage("button.caption.submit")'  />
			<input class="uportal-button" type="button" value='#springMessage("button.caption.cancel")'
				   onclick="window.location.href='${cancelUrl}';"  />
		</td>
		</form>
	</tr>

</table>

<script type="text/javascript">
	try {
		CKEDITOR.replaceAll( function( textarea, config ){
			var replaceEditor = false;
			try {	
				if (textarea.isFckEditor != undefined && textarea.isFckEditor){					
					config.defaultLanguage = 'en';
					config.language = '$springMacroRequestContext.locale.getLanguage()';
					config.ignoreEmptyParagraph = true; 
					
					textarea.isFckEditor = false;
					replaceEditor = true;
				}
			}
			catch (err) {
				var errBlock = document.createElement("div");
				errBlock.className = 'uportal-channel-error';
				errBlock.innerHTML = '<p class="uportal-channel-code" style="text-align:left;">' + err + '</p>';
				textarea.parentNode.replaceChild(errBlock, textarea);
			}
			return replaceEditor;
		});
		
		CKEDITOR.on('instanceReady', function(ev){
			ev.editor.focus();
		});
	} catch (err) {
		throw err;
	}
</script>