#*
    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
*#

	
#parse( "include.vm" )

#set ( $editorId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $browseFileId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $errorContainerId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $editPostFormId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $editAttachmentsButtonId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $attachmentsFormId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $attachmentsDialogId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $busyDialogId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $postOptionsAccordionId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $postIsScheduledId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $scheduledPostPublishDateId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $scheduledPostsId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $scheduledPostsContainerId = $mathTool.random(1,999999999) + "$portletNamespace" ) 
#set ( $manageSchedulerId = $mathTool.random(1,999999999) + "$portletNamespace" ) 
#set ( $postOptionsTabsId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $previewScheduledPostContentId = $mathTool.random(1,999999999) + "$portletNamespace" )
#set ( $manageSchedulerButtonId = $mathTool.random(1,999999999) + "$portletNamespace" )

#set ( $returnMode = $portletConstructors.get(0).newInstance("view") )

#set ( $cancelUrl = $renderResponse.createRenderURL() )
$cancelUrl.setPortletMode($returnMode)

#set ( $viewAttachmentUrl = $renderResponse.createActionURL() )
$viewAttachmentUrl.setParameter("action", "viewPostAttachment")

#set ( $searchUrl = $renderResponse.createRenderURL() )
$searchUrl.setParameter("action", "searchRepository")

#set ( $deleteAttachmentUrl = $renderResponse.createActionURL() )
$deleteAttachmentUrl.setParameter("action", "removePostAttachment")

#set ( $loadScheduledPostsUrl = $renderResponse.createActionURL() )
$loadScheduledPostsUrl.setParameter("action", "loadScheduledPosts")

#set ( $removeScheduledPostUrl = $renderResponse.createActionURL() )
$removeScheduledPostUrl.setParameter("action", "removeScheduledPost")
$removeScheduledPostUrl.setParameter("path", "{path}")

#set ( $removeRepositoryRootUrl = $renderResponse.createActionURL() )
$removeRepositoryRootUrl.setParameter("action", "removeScheduledRepositoryRoot")
$removeRepositoryRootUrl.setParameter("path", "{path}")

#set ( $publishScheduledPostUrl = $renderResponse.createActionURL() )
$publishScheduledPostUrl.setParameter("action", "publishScheduledPost")

<table cellpadding='0' cellspacing='0' width="100%">
	<tr>
		<td align='center'>	
			<form method='POST' action='$searchUrl'>
				<span>#springMessage("label.caption.keyword"):</span>
				<input type='text' name="keyword" />
				<input class="button" type='submit' value='#springMessage("button.caption.search")' />
			</form>
		</td>
	</tr>
</table>

<form method='POST' id="editPostFormId$editPostFormId" action='$renderResponse.createActionURL()' enctype="multipart/form-data">
<table cellpadding='0' cellspacing='0' width="100%">
	
	#springBind( "post.content" )
	<tr>
		<td align='center'>			
			#set ( $content = $escapeTool.html(${status.value}) )
			<textarea id="fckEditorId$editorId" name="${status.expression}" isEditor="false">$!content</textarea>
		</td>
	</tr>
	
	#if ($status.errorCodes.size() > 0)
	<tr>
		<td>
			#foreach($error in $status.errorMessages) 
				<p class="portlet-msg-error portlet-msg error">$error</p> 
			#end
		</td>
	</tr>
	#end
	
	#springBind( "post.scheduledDate" )
	#if ($status.errorCodes.size() > 0)
	<tr>
		<td>
			#foreach($error in $status.errorMessages) 
				<p class="portlet-msg-error portlet-msg error">$error</p> 
			#end
		</td>
	</tr>
	#end
	
	
	<tr>
		<td>
			<div class="portlet-msg-error portlet-msg error" style="display:none" id="errorBlockContainer$errorContainerId">
				<pre style="text-align:left;" id="errorBlock$errorContainerId"></pre>
			</div>
		</td>
	</tr>
	
	<tr>
		<td>
			<div id="postOptionsTabs$postOptionsTabsId">
				<ul>
					<li><a href="#postOptionsAccordion$postOptionsAccordionId">#springMessage("post.options.caption")</a></li> 
					
					#if ( $scheduledRepositoryRoots.hasNext() )
						<li><a href="#postOptionsAccordion$scheduledPostsContainerId">#springMessage("post.scheduled.posts.caption")</a></li>
					#end
				</ul>
				
				<div id="postOptionsAccordion$postOptionsAccordionId" style="width:98%">
					<!--- Post Options -->
					<h3><a href="#">#springMessage("label.caption.attachments")</a></h3>
					<div>
						#if ($post.Attachments.size() > 0)

							<span id="$editAttachmentsButtonId">
								<input class="button" type="button" value='#springMessage("button.caption.edit.attachments")' 
										onClick="showEditAttachmentsDialog_$portletNamespace()" />
							</span>
							<p/>
						#end
						
						<div id="browseFileId$browseFileId"></div>
						
					</div>
										
					<h3><a href="#">#springMessage("post.schedule.caption")</a></h3>
					<div>
						<input type="checkbox" name="postIsScheduled" id="postIsScheduled$postIsScheduledId"/> #springMessage("post.schedule.post.caption")
						<p>#springMessage("post.schedule.publish.date.caption"): 
						<input name="scheduledPostPublishDate" id="scheduledPostPublishDate$scheduledPostPublishDateId" type="text" readonly="readonly"></p>
					</div>
				
					<!-- End of Post Options -->
				</div>
				
				<div id="postOptionsAccordion$scheduledPostsContainerId">
					#if ( $scheduledRepositoryRoots.hasNext() )
						<input id='manageSchedulerButtonId$manageSchedulerButtonId' class='uportal-button' type='button' 
							value='#springMessage("label.caption.schedule.manage.scheduler")' 
							onClick="javascript:showManageSchedulerDialog_$portletNamespace()" /> 
					#end
					
					<div id="postOptionsAccordion$scheduledPostsId" />
				</div>
			</div>
		
		</td>
	</tr>
			
	<tr>
		<td width="100%" align="right">
			#if( $post.Content )
				#set ($submitButtonCaption="#springMessage('button.caption.update')")
			#else
				#set ($submitButtonCaption="#springMessage('button.caption.submit')")
			#end
			
			<input class="button" type="submit" name="post" value='$submitButtonCaption'  />
			<input class="button" type="button" name="cancel" value='#springMessage("button.caption.cancel")'
				   onclick="window.location.href='${cancelUrl}';"  />
		</td>
		
	</tr>
	
</table>
</form>

<div id="attachmentsDialogId$attachmentsDialogId" title='#springMessage("label.caption.attachments")'>
	<table width="100%">
		<tbody>
			#foreach ($attachment in $post.Attachments)
				#set ( $id = $mathTool.random(1,999999999) + "$portletNamespace" )
				<tr>
					<form id="attachmentsFormId$id" enctype="multipart/form-data">
						<td width="80%">
							<img align="middle" hspace="3" src='$springMacroRequestContext.contextPath/images/package.png'>
							
							
							$viewAttachmentUrl.setParameter("attachmentPath", "$attachment.Path")
							$viewAttachmentUrl.setParameter("postPath", "$post.Path")
							<a href='$viewAttachmentUrl'>$attachment.Title</a>
				
							<input type="hidden" value="$attachment.Path" name="attachmentPath" />
							<input type="hidden" value="$post.Path" name="postPath" />
						</td>
						
						<td>
							<input class="button" type="submit" value='#springMessage("button.caption.remove")'  />
						</td>
					</form>
				</tr>
			#end
		</tbody>
	</table>
</div>

<div id="busyDialogId$busyDialogId" title='#springMessage("label.caption.loading")'> 
	<img valign="bottom" src='$springMacroRequestContext.contextPath/images/hourglass.png'>
	<span>#springMessage("label.caption.view.loading")</span> <p>
	<img valign="bottom" src='$springMacroRequestContext.contextPath/images/loading.gif'>
</div>

<div id="previewScheduledPostContentId$previewScheduledPostContentId" title='#springMessage("label.caption.preview")'></div>

<div id="manageScheduler$manageSchedulerId" 
	title='#springMessage("label.caption.schedule.manage.scheduler")'>
	<table width="100%">
		#foreach($root in $scheduledRepositoryRoots)
		<tr>
			<form id='scheduledRepositoryRootFormId$root' type='134'>
				<td><img align="middle" hspace="3" src='$springMacroRequestContext.contextPath/images/package.png'> $root</td>
				<input type="hidden" value="$root" name="repositoryRootPath"></input>
				<td><input class="button" type="button" onClick='javascript:removeScheduledRepositoryRoot_$portletNamespace(this);' 
					value='#springMessage("button.caption.remove")' /></td>
			</form>
		</tr>
		#end
	</table>
</div>


<script type="text/javascript">
			
	$('#errorBlockContainer$errorContainerId').hide();
	$('#previewScheduledPostContentId$previewScheduledPostContentId').hide();
	$('#manageScheduler$manageSchedulerId').hide();
	
	$("#busyDialogId$busyDialogId").dialog({
		minHeight: 80,
		modal: true,
		position: 'center',
		autoOpen: false,
		disabled: true,
		draggable: false,
		closeOnEscape: false,
		open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }
	}); 
	
	function showScheduledPostPreviewDialog_$portletNamespace(obj) {
		var content = $(obj).attr("tag");
		$("#previewScheduledPostContentId$previewScheduledPostContentId").dialog({
			open: function(event, ui) { 
				$("#previewScheduledPostContentId$previewScheduledPostContentId").html(unescape(content));
			},
			minWidth: $(window).width() / 1.5,
			minHeight: 250,
			height: $(window).height() / 1.5,
			position: 'center',
			autoOpen: false,
			show: 'slide',
			hide: 'explode'
		});
			
		$("#previewScheduledPostContentId$previewScheduledPostContentId").dialog('open');
		
	}
	
	function showManageSchedulerDialog_$portletNamespace() {
		$("#manageScheduler$manageSchedulerId").dialog({
			minHeight: 250,
			position: 'center',
			autoOpen: false,
			show: 'slide',
			hide: 'explode'
		});
			
		$("#manageScheduler$manageSchedulerId").dialog('open');
	}
	
	function removeScheduledPost_$portletNamespace(obj) {
		var formObj = jQuery(obj).parent();
		var formId = formObj.attr('id');
		var postPath = jQuery("#" + formId + " [name='path']").attr('value');
		
		var formUrl = new String("$removeScheduledPostUrl");
		formUrl = formUrl.replace(escape("{path}"), postPath);

		jQuery.ajax({
			url: formUrl,
			timeout:5000,
			success: function(data){
				if (data.response.removeSuccessful)
					formObj.parent().remove();
			},
			error: function(req,error){
			  
			},
			beforeSend: function(data){
				
			}
		});

	}
	
	function removeScheduledRepositoryRoot_$portletNamespace(obj) {
		var formId = obj.form.id;
		var rootPath = jQuery("#" + formId + " [name='repositoryRootPath']").attr('value');
				
		var formUrl = new String("$removeRepositoryRootUrl");
		formUrl = formUrl.replace(escape("{path}"), rootPath);
		
		jQuery.ajax({
			url: formUrl,
			timeout:5000,
			success: function(data){
				jQuery("#" + formId).remove();
				
				var numberOfFormsLeft = jQuery('form[id^="scheduledRepositoryRootFormId"]').length;
				if (numberOfFormsLeft == 0) {
						$("#manageScheduler$manageSchedulerId").dialog('close');
						jQuery("#manageSchedulerButtonId$manageSchedulerButtonId").remove();
				}

			},
			error: function(req,error){
			  
			},
			beforeSend: function(data){
				
			}
		});

	}
	
	function showEditAttachmentsDialog_$portletNamespace() {
		$("#attachmentsDialogId$attachmentsDialogId").dialog('open');
	}
	
	function hideEditAttachmentsDialog_$portletNamespace() {
		$("#attachmentsDialogId$attachmentsDialogId").dialog('close');
	}
	
	function showError_$portletNamespace(err) {
		$('#errorBlockContainer$errorContainerId').show();
		$('#errorBlock$errorContainerId').text(err);
	}
	
	function postAttachmentDeleted_$portletNamespace(data, statusText, xhr, $form) {
		if (data.response.removeSuccessful) {
			$form.parent().remove();
			var attachmentForms = $('form[id*="attachmentsFormId"]');
			if (attachmentForms.length == 0) {
				hideEditAttachmentsDialog_$portletNamespace();
				$('#$editAttachmentsButtonId').remove();
			} 
			
		} else {
			alert('#springMessage("attachment.not.removed")');	
		}
	}
			
	try {
		
		$(document).ready(function(){
			$("#busyDialogId$busyDialogId").dialog('open');
						
			var config = {
				defaultLanguage: 'en', 
				language: '$springMacroRequestContext.locale.getLanguage()',
				ignoreEmptyParagraph: true
			};
			CKEDITOR.replace('fckEditorId$editorId', config);
				
			CKEDITOR.on('instanceReady', function(ev){
				ev.editor.focus();
				$("#busyDialogId$busyDialogId").dialog('close');				 
			}); 
				
			//create attachments 
			for (i = 0; i < $portletPreferencesWrapper.maximumPostAttachments; i++) {
				var element = '#springMessage("label.caption.title"): <input name="attachmentTitle' + i + '" />';
				element += '<br/><input name="attachment' + i + '" type="file" size="50" /><br/><br/>';
				$('#browseFileId$browseFileId').after(element);
	    	}	 
						
			
	    	$("#attachmentsDialogId$attachmentsDialogId").dialog({
				minHeight: 140,
				modal: true,
				position: 'center',
				minWidth: 500,
				autoOpen: false,
				show: 'slide',
				hide: 'explode'
			});
			 
			var instance = contentManagementPortlet.CMP({
				formUrl: '$deleteAttachmentUrl', 
				successFunction: postAttachmentDeleted_$portletNamespace
			});
			
			var attachmentForms = $('form[id*="attachmentsFormId"]');
			for (i = 0; i < attachmentForms.length; i++) {
				var id = attachmentForms[i].id;
				instance.addFormHandler('#' + id);
			}
			
			$("#postOptionsAccordion$postOptionsAccordionId").accordion();
			$("#scheduledPostPublishDate$scheduledPostPublishDateId").parent().hide();
			$("#scheduledPostPublishDate$scheduledPostPublishDateId").datetimepicker(
			{ 
				minDate: +1,
				hourMin: 1,
				hourMax: 12,
				ampm: true,
				monthNames: ['#springMessage("post.schedule.date.month.jan")', '#springMessage("post.schedule.date.month.feb")', '#springMessage("post.schedule.date.month.mar")', 
							 '#springMessage("post.schedule.date.month.apr")', '#springMessage("post.schedule.date.month.may")', '#springMessage("post.schedule.date.month.jun")',
							 '#springMessage("post.schedule.date.month.jul")', '#springMessage("post.schedule.date.month.aug")', '#springMessage("post.schedule.date.month.sep")',
							 '#springMessage("post.schedule.date.month.oct")', '#springMessage("post.schedule.date.month.nov")', '#springMessage("post.schedule.date.month.dec")'						
							],
				nextText: '#springMessage("post.schedule.date.next.caption")',
				prevText: '#springMessage("post.schedule.date.prev.caption")',
				showButtonPanel: true,				
				dayNamesMin: 	['#springMessage("post.schedule.date.day.sun")', '#springMessage("post.schedule.date.day.mon")', '#springMessage("post.schedule.date.day.tue")', 
							     '#springMessage("post.schedule.date.day.wed")', '#springMessage("post.schedule.date.day.thu")', '#springMessage("post.schedule.date.day.fri")', 
								 '#springMessage("post.schedule.date.day.sat")'								
								],
				hideIfNoPrevNext: true,
				closeText: '#springMessage("button.caption.close")'
			}); 
																
			$('#postIsScheduled$postIsScheduledId').change(function () {
				if ($(this).attr("checked")) {
					$("#scheduledPostPublishDate$scheduledPostPublishDateId").parent().show();
					return;
				}
				
				$("#scheduledPostPublishDate$scheduledPostPublishDateId").parent().hide();
			});
			
			$("#postOptionsTabs$postOptionsTabsId").tabs( 
			{
				fx: { opacity: 'toggle' }, 
				spinner: '#springMessage("label.caption.loading")',
				select: function(event, ui) 
				{
					try {
						if (ui.panel.id == "postOptionsAccordion$scheduledPostsContainerId") {
							jQuery.ajax({
								url: "$loadScheduledPostsUrl",
								timeout:5000,
								success: function(data){
									var results = data.response.scheduledPosts;
									var element = "";
									
									if (results.length > 0) {
										element += "<ul>";
										for (var res in results) {
											var post = results[res];
											element += "<li>";
											element += "<span class='uportal-channel-emphasis'>#springMessage('label.caption.scheduledby') " + post.author + " @ " + post.scheduledDate + "</span>&nbsp";
											
											element += "<form id='scheduledPostFormId" + post.uuid + "' method='POST' action='$publishScheduledPostUrl'>";
    											element += "<input type='hidden' name='path' value='" + post.path + "' />";
    											element += "<input class='uportal-button' type='button' value=#springMessage('button.caption.preview') onClick='javascript:showScheduledPostPreviewDialog_$portletNamespace(this);' tag='" + escape(post.content) + "' />&nbsp";
    											element += "<input class='uportal-button' type='button' value=#springMessage('button.caption.remove') onClick='javascript:removeScheduledPost_$portletNamespace(this);' />&nbsp";
    											element += "<input class='uportal-button' type='submit' value=#springMessage('button.caption.submit') />";
											element += "</form>";
											
											element += "</li><p/>";
										}
										element += "</ul>";
										jQuery("#postOptionsAccordion$scheduledPostsId").empty();
										jQuery("#postOptionsAccordion$scheduledPostsId").append(element);
									}
								},
								error: function(req,error){
								  
								},
								beforeSend: function(data){
								 
								}
							});
	  
						}
					} catch (err) {
					   
					}
				}
			});
			
		});
	} catch (err) {
		showError_$portletNamespace(err);
	} 	

</script>